.custom-card {
    box-shadow: -2px 2px 15px #ddd !important;
    border: none !important;
    margin-bottom: 30px;
    transition: 0.25s;
  }
  
  .custom-card:hover {
    box-shadow: -2px 2px 15px #888 !important;
  }
  
  .details-button {
    background-color: white !important;
  }
  
  .light-gray {
    background-color: #ddd !important;
  }
  
  .text-muted {
    margin: 0;
  }