.browse-more-btn {
    height: 45px !important;
    width: 200px !important;
    color: #fa6e13 !important;
    background-color: white !important;
    border-color: #fa6e13 !important;
}

.browse-more-btn:hover {
    background-color: #fa6e13 !important;
    color: white !important;
}

.filters-btn {
    height: 40px !important;
    width: 200px !important;
    color: gray !important;
    background-color: transparent !important;
    border-color: gray !important;
}

.filters-btn:hover {
    background-color: gray !important;
    color: white !important;
}

.search-btn {
    color: gray !important;
    background-color: transparent !important;
    border-color: gray !important;
}

.search-btn:hover {
    background-color: gray !important;
    color: white !important;
}

.clear-filters-btn {
    color: black !important;
    background-color: transparent !important;
    border: 1.5px solid black !important;
}

.clear-filters-btn:hover {
    color: white !important;
    background-color: black !important;
}

.market-place-navbar {
    border: 2px black !important;
}

.custom-navbar-btn:hover {
    color: black !important;
    background: transparent !important;
    border-radius: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-top-width: 0 !important;
    border-bottom-color: black !important;
    border-bottom-width: 2px !important;
}

.custom-pagination .page-item.active .page-link {
    color: black !important;
    background: transparent !important;
    border-radius: 0 !important;
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-top-width: 0 !important;
    border-bottom-color: black !important;
    border-bottom-width: 2px !important;
}

.custom-pagination .page-item {
    width: 200px !important;
    text-align: center !important;
}

.custom-pagination {
    padding: 0px !important;
    padding-bottom: 20px !important;
}

.org-dropdown-btn {
    color: #fa6e13 !important;
    background-color: white !important;
    border-color: #fa6e13 !important;
    border-width: 1.5px !important;
    width: 500px !important;
    height: 80px !important;
    text-align: left !important;
}

.org-dropdown-btn:hover {
    background-color: #fa6e13 !important;
    color: white !important;
    
}

.org-dropdown-btn::after {
    display: none !important;
}

.org-dropdown-btn-menu {
    background-color: white !important;
    width: 500px !important;
}

.create-campaign-btn {
    height: 50px !important;
    width: 50px !important;
    padding-top: 12px !important;
    padding-left: 9px !important;
    background-color: transparent !important;
    color: #fa6e13 !important;
    border: 2px solid #fa6e13 !important;
}

.create-campaign-btn:hover{
    background-color: #fa6e13 !important;
    color: white !important;
}

.filters-card {
    background: white !important;
    border: 1.5px solid black !important;
}

.filters-card .card-header {
    color: white !important;
    background-color: #fa6e13 !important;
    border-bottom: 1.5px solid black !important;
}

.filters-hr {
    color: black !important;
}