.password-froms {
    margin-bottom: 10px;
    margin-top: 15px;
}

.form-subtext{
    margin-bottom: 3px;
    display: block;
    font-size: small;
    color:gray;
}   

.button{
    margin-top: 15px;
    margin-bottom: 10px;
}